* {
    /* O border-box garante que o tamanho total de um elemento inclua o seu padding e borda, evitando que o layout quebre ao adicionar espaçamentos internos */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #a1d5ff;
    /* A combinação de display flex com as propriedades de alinhamento e min-height: 100vh garante que o formulário fique perfeitamente centralizado na viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-formulario {
    background-color: #0156f5;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgb(248, 245, 245);
    width: 100%;
    max-width: 400px;
    border-top: 9px solid #062f58;
}

h1 {
    color: #f3f5f7;
    text-align: center;
    margin-bottom: 25px;
    font-size: 24px;
}

.grupo-campo {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #fdfdfd;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 22px;
    background-color: #ffffff;
    color: #0056b3;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    /* Define uma transição suave para as mudanças de estado do elemento, como no :hover abaixo, melhorando a experiência do usuário */
    transition: background-color 0.3s;
}

button:hover {
    background-color: #01ff0d;
}

#mensagemConfirmacao {
    margin-top: 40px;
    text-align: center;
    color: #00ff00;
    font-weight: bold;
}