body {
    font-family: Arial, sans-serif;
    background-color: #212121; /* Fundo noturno para shows */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.container {
    background: white;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(255,255,255,0.1);
    text-align: center;
    width: 350px;
}
h1 { color: #4a148c; margin-bottom: 0; } /* Roxo escuro */
#numero {
    font-size: 5rem;
    font-weight: 800;
    color: #4a148c;
    margin: 1rem 0;
    transition: color 0.3s;
}
.botoes {
    display: flex;
    gap: 10px;
    justify-content: center;
}
.botoes button {
    padding: 12px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    min-width: 60px;
}
.btn-menos { background: #d32f2f; }
.btn-reset { background: #757575; }
.btn-mais  { background: #1976d2; } /* Azul para entrada */

.btn-menos:hover { background: #9a0007; }
.btn-reset:hover { background: #494949; }
.btn-mais:hover  { background: #004ba0; }